/* This is the NAVIGATION BAR at the top of the web page(s) */

.Button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.Button:hover, .Button:focus {
  background-color: red;
}

.navigation-bar {
  overflow: hidden;
  background-color: #3498DB; 
}


.drop-down-content { /* this addresses the drop-down menu block */
  display: none;
  float: left; 
  position: absolute; 
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-down-content a { 
/* this addresses the text inside the drop-down menu block, i.e. the itemized list */
  
  text-align: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* this creates the block around the drop-down menu items */
}

.show {display: block;}

#home-drop-down { 
  position: absolute; 
  left: 0px; 
  top: 60px; 
}

#test-drop-down {
  position: absolute;  
  left: 93px; 
  top: 60px; 
}

#news-drop-down {
  position: absolute;  
  left: 208px; 
  top: 60px; 
}

#contact-drop-down {
  position: absolute;  
  left: 292px; 
  top: 60px; 
}

#about-drop-down {
  position: absolute;  
  left: 403px; 
  top: 60px; 
}

/* These are BUTTONS on the website */


.YesButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
  }
  
.YesButton:hover {
    background-color: #04442d;
    color: white;
  }

.NoButton { 
    background-color:red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.NoButton:hover {
    background-color: #5c0606;
    color: white;
  }

.BegButton {
    background-color: #04442d; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
  }
  
.BegButton:hover {
    background-color: #04442d;
    color: white;
}  


@media screen and (min-width: 480px) {
    /*mobile first*/
}