/* This is the NAVIGATION BAR at the top of the web page(s) */

.author-name {
  background-color: black;
  color: white;
  padding: 25px; 
  font-size: 32px; 
  font-weight: bold;
  font-family: impact; 
  border: none;
  line-height: 10vh;
  margin: 0px !important;  
}


.Button {
  background-color:black;
  vertical-align: middle;
  color: white;
  padding: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  padding-top: 6vh;
}

.Button:hover, .Button:focus {
  background-color: red;
}

.navigation-bar {
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center; 
}

.logo {
  display: flex;
  justify-content: center; 
}

.drop-down-content { /* this addresses the drop-down menu block */
  display: none;
  float: left; 
  position: absolute; 
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-down-content a { 
/* this addresses the text inside the drop-down menu block, i.e. the itemized list */
  
  text-align: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* this creates the block around the drop-down menu items */
}

.show {display: block;}

#home-drop-down { 
  position: absolute; 
  left: 481px; 
  top: 107px; 
}

#test-drop-down {
  position: absolute;  
  left: 93px; 
  top: 107px; 
}

#news-drop-down {
  position: absolute;  
  left: 765px; 
  top: 107px; 
}

#contact-drop-down {
  position: absolute;  
  left: 609px; 
  top: 107px; 
}

#about-drop-down {
  position: absolute;  
  left: 893px; 
  top: 107px; 
}
  
  
img {
width: 200px;
}




article {
  font-family: courier; 
}



/* These are BUTTONS on the website */


.YesButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
  }
  
.YesButton:hover {
    background-color: #04442d;
    color: white;
  }

.NoButton { 
    background-color:red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.NoButton:hover {
    background-color: #5c0606;
    color: white;
  }

  .MaybeButton {
    background-color: purple;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .MaybeButton:hover {
    background-color: #3f071e;
    color: white;
  }

.BegButton {
    background-color: #04442d; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
  }
  
.BegButton:hover {
    background-color: #04442d;
    color: white;
} 



@media screen and (max-width: 480px) {
  div.navigation-bar button {
    margin-right: -2.5vw;
    padding: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  body h2, p { 
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }
}



.img-hover {
  cursor: pointer;
}
