
/* These are BUTTONS on the website */

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #04442d;
    color: white;
  }

  .button2 { 
    background-color:red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2:hover {
    background-color: #5c0606;
    color: white;
  }


  /* This is the NAVIGATION BAR at the top of the web page(s) */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04442d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }